@implements IDisposable

@inherits LayoutComponentBase

<main>
    <div class="main-content">
        <div class="top-row px-4">
                
                <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavBar">
                    <span class=@NavBarToggleIcon></span>
                </button>  
                
            <div class="top-row-title">
                David Cass
            </div>                
        </div>

        <div class="page">
            <div class=@SidebarCssClass>
                <NavMenu />
            </div>
            <div class="page-content">                               
                @Body                            
            </div>
        </div>
        
    </div>        
</main>

@code {
    [Inject]
    protected UserOptions Options { get; set; } = default!;

    public string PageTitle { get; set; } = string.Empty;

    protected override void OnInitialized()
    {
        Options.OnNavBarStateChange += StateHasChanged;
    }

    void IDisposable.Dispose()
    {
      Options.OnNavBarStateChange -= StateHasChanged;
    }


    private void ToggleNavBar()
    {
        Options.ToggleNavBar();
    }



    private string NavBarToggleIcon => Options.NavBarCollapsed ? "oi oi-chevron-right" : "oi oi-chevron-left";
    private string? SidebarCssClass => Options.NavBarCollapsed ? "sidebar collapsed" : "sidebar expanded";
}
