<PageTitle>@PageTitle</PageTitle>
<PageHeader Header=@PageTitle/>

<div class="page-body"> 
	@ChildContent
</div>

@code {
	[Parameter]
    public RenderFragment? ChildContent { get; set; }

	[Parameter]
    public string PageTitle { get; set; } = string.Empty;
}
